.square-button {
	display: grid;
	width: 250px;
	height: 280px;
	grid-template-rows: 300px 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: #eee;
	padding: 4px;
	border-radius: 10px;
}

.square-button-image {
	padding: 10px;
	width: 240px;
	height: 240px;
}

.square-button-text {
	text-align: center;
	color: black;
}
