.square-button {
	width: 200px;
	height: 230px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
	background-color: #eee;
	padding: 4px;
	border-radius: 10px;
	justify-self: center;
}

.square-button:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.square-button-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	width: 100%;
}

.square-button-text {
	text-transform: uppercase;
	text-align: center;
	color: black;
}
