.idea-header {
	display: grid;
	grid-template-columns: 80% 20%;
}

.idea-title {
	justify-self: left;
}

.idea-buttons {
	justify-self: right;
	align-self: center;
	float: right;
	display: grid;
	grid-template-columns: 50% 50%;
}

.idea-footer {
	display: grid;
	grid-template-columns: 50% 50%;
}

.idea-date {
	justify-self: right;
	align-self: top;
}

.idea-author {
	justify-self: left;
	align-self: top;
}

.fund-section {
	display: grid;
	grid-template-columns: 70% 30%;
}

#fund-input {
	display: grid;
	grid-template-columns: 90% 10%;
	align-items: center;
	justify-items: center;
}

#fund-input div {
	justify-self: center;
	padding: 10px;
}

.fund-button {
	justify-self: center;
	align-self: center;
	width: 50px;
}

.fund-amount {
	height: 32px;
	width: 100%;
	border-radius: 6px;
}
