html,
body {
	min-height: 100vh;
}

a:hover {
	text-decoration: none;
}

.header {
	position: relative;
	height: 15vw;
	min-height: 110px;
}

.corner {
	position: absolute;
	z-index: 7;
	top: 0;
	bottom: 0;
	left: 0;
	min-height: 160px;
	width: 18vw;
	min-width: 180px;
	clip-path: polygon(0 0, 100% 0, 0 100%);
}

.corner-nav {
	position: fixed;
	z-index: 7;
	top: 0;
	left: 0;
	width: 5em;
	height: 5em;
	clip-path: polygon(0 0, 100% 0, 0 100%);
}

.titlebar {
	height: 8vw;
	min-height: 90px;
	font-size: 5vw;
	top: 1vw;
	position: absolute;
	z-index: 6;
	left: 0;
	right: 0;
	color: white;
	justify-content: space-between;
	align-items: center;
}

.nav-menu {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 5;
	top: 0;
	left: 0;
	width: 17vw;
	min-width: 170px;
	height: 100vh;
	transition: transform 0.3s ease-in-out;
}

.navbar-link {
	color: white;
	font-size: 1.5em;
	margin: 0.5em 0;
	transition: color 0.2s;
}

.navbar-link:hover {
	color: #343a40;
}

.menu-toggle, .menu-toggle-nav, .menu-toggle-alt {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-around;
	width: 1.3rem;
	height: 1.3rem;
	background: transparent;
	border: none;
	z-index: 8;
	padding: 0;
}

.menu-toggle {
	top: 70%;
	left: 1%;
}

.menu-toggle-alt {
	transform: translate(50%, 0);
}

.menu-toggle-nav {
	top: 15%;
	left: 15%;
}

.menu-toggle div, .menu-toggle-nav div, .menu-toggle-alt div {
	width: 1.3rem;
	height: 0.25rem;
	background: white;
	border-radius: 10px;
	transition: all 0.3s linear;
	position: relative;
	transform-origin: 1px;
	transition: transform 0.1s linear;
}

#Logo {
	width: 50%;
	transform: translate(3%, 1%);
}

@media (max-width: 576px) {
	.header {
		height: 9vh;
	}
	.titlebar {
		position: fixed;
		height: 9vh;
		font-size: 5vh;
		top: 0;
	}
	.nav-menu {
		top: 0;
		width: 50%;
		height: 100vh;
	}
	.corner {
		display: none;
	}
	.menu-toggle {
		display: none;
	}
	.corner-nav {
		display: none;
	}
}

